// 背景色
$bg-color-default: #f6f6f6; // 页面背景
$bg-color-white: #fff; // 白色背景
$bg-color-black: #323232; // 黑色背景

// 字体颜色
$text-color-default: #323232;
$text-color-white: #fff;
$text-color-gray: #999;
$text-color-light: #bbb;

// 字体权重
$font-weight-large: 700;
$font-weight-small: 600;
$font-weight-default: normal;

// 边框颜色
$border-color-gray: #f2f2f2;

// 遮罩
$mask-color: rgba(0, 0, 0, 0.4);
